body {
  background-color: rgb(186, 73, 73);
}

#root {
  max-width: 400px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 20px 0;
}

.add-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #a84646;
  color: #e2bdbd;
  padding: 20px;
  border: 2px dashed #d79999;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.add-task-button .icon {
  margin-right: 8px;
  font-size: 18px;
}

.add-task-button:hover {
  background-color: #913c3c;
}

.task-container {
  display: none;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.task-input {
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #cfcfcf;
  font-style: italic;
  resize: none;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.delete-button,
.cancel-button {
  background: none;
  border: none;
  color: #7d7d7d;
  cursor: pointer;
  font-size: 14px;
}

.save-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.tasks-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.header-line {
  height: 2px;
  background-color: #d79999;
}

.task-row {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.checkbox-section {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.checkbox-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  color: #7d7d7d;
}

.checkmark {
  font-size: 14px;
  display: none;
}

.checkbox-circle:hover .checkmark {
  display: block;
}

.task-content {
  flex-grow: 1;
}

.task-text {
  color: #333;
  font-size: 16px;
}

.task-count {
  font-size: 14px;
  color: #a0a0a0;
}

.options-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #a0a0a0;
  cursor: pointer;
}
